
.logo {
	display inline-flex
	align-items: center;
	&-pic {
		margin-right 15px
		width 36px
		img {
			display block
			max-width 100%
		}
	}
	&-text {
		&__title {
			margin-bottom 5px;
			color: $black1;
			font-size: 18px;
			font-weight: 500;
		}
		&__desc {
			color: #a0a0ac;
			font-size: 13px;
			line-height 17px;
		}
	}
}