/* Support classes Start*/
.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.stat {
  position: static;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.no-font {
  font-size: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-in-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

/* Support classes End*/

body {
  font-family: $default-fonts;
  font-weight: normal;
  background-color: $white;
	color: $text-color;
	font-size: $default-size;
	line-height: $line-heigth;
	position: relative;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
.main-wrapper {
	overflow: hidden
}
img {
  display: block;
  max-width: 100%; 
}

input[type="text"], input[type="email"], input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
	font-family: 'GTWalsheim', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
	color: $text-color
	text-decoration none
	transition: $transition
}
* {
  box-sizing: border-box;
}
ul {
	list-style: none;
}