$white = #ffffff;
$black = #000000;
$black1 = #242427;
$black2 = #1b1b1e;
$accent = #18bb50;
$accent2 = #22c95c;
$accent3 = #1cc857;
$accent4 = #12b349;
$gray = #f4f4f8;
$gray2 = #a0a0ac;
$gray3 = #e9e9f2;
$gray4 = #d5d5e5;
$text-color = #515168;
$pink = #faefe2;
$default-size = 15px;
$line-heigth = 20px;
$default-fonts = 'GTWalsheim', sans-serif;
$transition = all .3s ease-in;